<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385290373302-v86namr7e1tj53ja94ldgokhrb5gogtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385290373302-v86namr7e1tj53ja94ldgokhrb5gogtp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>385290373302-1ofelc6s0eam7ehtdcgrrhat8n3bub7f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jyQfJnuGWY9_sKT3pNC5rDE-xktHXj8</string>
	<key>GCM_SENDER_ID</key>
	<string>385290373302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maya.uplift</string>
	<key>PROJECT_ID</key>
	<string>upliftapp-cd86e</string>
	<key>STORAGE_BUCKET</key>
	<string>upliftapp-cd86e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385290373302:ios:302ed469bc6c9bbed07e17</string>
</dict>
</plist>